<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }

            th, td {
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
              background-color: #04AA6D;
              color: white;
            }
        </style>
    </head>
	<body>
	<p> <a href="{% url 'hotel:book' %}"> Back To Reservation Page </a> </p>
	<p> <a href="{% url 'hotel:logout' %}"> Logout </a> </p>
	{% if future_bookings or current_and_past_bookings %}
	    {% if future_bookings %}
	        <table>
	            <th> Future Bookings </th>
		        {% for future_booking in future_bookings %}
		            <tr><td><b>Booking Date</b> - {{ future_booking.book_from_date }}</td></tr>
		            <tr><td><b>Booking From Time</b> - {{ future_booking.book_from_time }}</td></tr>
		            <tr><td><b>Booking Till Time</b> - {{ future_booking.book_till_time }}</td></tr>
		            <tr><td><b>Category</b> - {{ future_booking.category }}</td></tr>
		            <tr><td><b>Capacity</b> - {{ future_booking.capacity }}</td></tr>
		            <tr><td><a href='/hotel/all_bookings/{{future_booking.pk}}'> Delete </a><hr></td></tr>
		        {% endfor %}
		    </table>
		{% endif %}
        {% if current_and_past_bookings %}
            <table>
                <th> Current and Past Bookings </th>
		        {% for current_and_past_booking in current_and_past_bookings %}
		            <tr><td><b>Booking Date</b> - {{ current_and_past_booking.book_from_date }}</td></tr>
		            <tr><td><b>Booking From Time</b> - {{ current_and_past_booking.book_from_time }}</td></tr>
		            <tr><td><b>Booking Till Time</b> - {{ current_and_past_booking.book_till_time }}</td></tr>
		            <tr><td><b>Category</b> - {{ current_and_past_booking.category }}</td></tr>
		            <tr><td><b>Capacity</b> - {{ current_and_past_booking.capacity }}<hr></td></tr>
		        {% endfor %}
		    </table>
	    {% endif %}
	{% else %}
		<p> No Bookings. </p>
	{% endif %}
	</body>
</html>

