<!DOCTYPE html>
<html>
	<body>
	{% if categories %}
		{% for category in categories %}
			{% if category == 'YAC' %}
				<h3>AC</h3>
				<p>gjgjhkhkjkj</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'NAC' %}
				<h3>Non AC</h3>
				<p>bhhhdef</p>
				<p><a href = "{% url 'hotel:nac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'DEL' %}
				<h3>Deluxe</h3>
				<p>kbhjgftr</p>
				<p><a href = "{% url 'hotel:deluxe' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'KIN' %}
				<h3>King</h3>
				<p>bghfrfgbx</p>
				<p><a href = "{% url 'hotel:king' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'QUE' %}
				<h3>Queen</h3>
				<p>rfvsf</p>
				<p><a href = "{% url 'hotel:queen' %}"> Book Now </a></p>
				<hr>
			{% endif %}
		    <!--<p>category</p>-->
		{% endfor %}
	{% else %}
		<p> No rooms are available </p>
	{% endif %}
	<p> <a href="{% url 'hotel:logout' %}"> Logout </a> </p>
	</body>
</html>

