{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rooms</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hotel/css/base.css' %}">
    <style>
      *{
	      padding: 0;
	      margin: 0;
      }
    </style>
  </head>
	<body id="body-color">
    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-large">
			<div class="w3-bar-item w3-red w3-mobile"><i class="fa fa-bed w3-margin-right"></i>Logo</div>
      <a href="#" class="w3-bar-item w3-button w3-mobile active">Rooms</a>
      <a href="{% url 'hotel:manage_bookings' %}" class="w3-bar-item w3-button w3-mobile">Bookings</a>
			<div class="dropdown w3-right ert">
				<button class="dropbtn">{{ username }}
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
          <a href="{% url 'hotel:view_profile' %}">View Profile</a>
          <a href="{% url 'hotel:edit_profile' %}">Edit Profile</a>
					<a href="{% url 'hotel:logout' %}">Logout</a>
				</div>
			</div>
      <a href="{% url 'hotel:add_room' %}" class="w3-right ert"> Add Room</a>
  	</div>    
    <h2>Search</h2>
    <form method="POST" id="bold-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class= "submit submit-right" value="Search" />
    </form>
    <br/>
		{% if rooms %}
		  {% for room in rooms %}
      <div class="card">
        <b>Number:</b> {{ room.number }}<br/>
        <b>Category:</b> {{ room.category }}<br/>
        <b>Capicity:</b> {{ room.capacity }}<br/>
        <b>Advance:</b> {{ room.advance }}<br/>
        <a href='../../hotel/time_slots/{{room.number}}'> [Time Slots]</a>
        <a href='../../hotel/edit_room/{{room.number}}'> [Edit]</a>
        <a href='../../hotel/delete_rooms/{{room.number}}'> [Delete]</a>
      </div>
		  {% endfor %}
	  {% else %}
		  <p> No rooms</p>
	  {% endif %}
    <!-- Footer -->
    <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
      <h5>Find Us On</h5>
      <div class="w3-xlarge w3-padding-16">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-linkedin-square"></a>
      </div>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>
	</body>
</html>
