{% extends "base_sign_up_in.html" %}
{% load static %}
{% block title %}Sign up{% endblock title %}
<style>
  #sub-heading {
    font-size: 0.8em;
  }
  
  .login{
    font-size: 0.9em;
    line-height: 13px;
  }
</style>
{% block content %}
  <div class="grid">
    <div class="col-8-12">
      <!-- content for large column here -->
      <div class="container2">
        <div class="w3-center">
          <h1>Sign Up</h1>
          <div id="sub-heading">(as General User)</div>
        </div>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <!--<label for="picture"> <b> Choose a Picture: </b> </label> <br/>
          <input type="file" name="picture"> <br/><br/><br/>-->
          <br/>
          <input type="submit" class= "submit submit-right" value="Sign Up" />
        </form>
        <div class="login">Already Registered? <a class="one" href = "{% url 'hotel:sign_in' %}"> Sign in here </a></div>
      </div>
    </div>
  </div>
{% endblock content %}