{% extends "base_sign_up_in.html" %}
{% load static %}
{% block title %}Sign in{% endblock title %}
<style>
  #box {
    height: 40%;
    top:21%;
  }
</style>
{% block content %}
<!--<div class="container box fl fontLabel">-->
<div class="container2" id="box">
  <div class="w3-center">
    <h1>Sign In</h1>
  </div>
  <br/>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <input type="submit" class= "submit submit-right" value="Sign in" />
    <br/>
  </form>
</div>
{% endblock content %}