<!DOCTYPE html>
<html>
	<body>
	{% if categories %}
		{% for category in categories %}
			
			{% if category == 'YAC' %}
				<p>{{ category }}</p>
				<p>gjgjhkhkjkj</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'NAC' %}
				<p>{{ category }}</p>
				<p>bhhhdef</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'DEL' %}
				<p>{{ category }}</p>
				<p>kbhjgftr</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'KIN' %}
				<p>{{ category }}</p>
				<p>bghfrfgbx</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
				<hr>
			{% endif %}
			
			{% if category == 'QUE' %}
				<p>{{ category }}</p>
				<p>rfvsf</p>
				<p><a href = "{% url 'hotel:yac' %}"> Book Now </a></p>
			{% endif %}
			
		    <!--<p>category</p>-->
		{% endfor %}
	{% else %}
		<p> No rooms are available </p>
	{% endif %}
	</body>
</html>

